@model Form

<div class="card mb-3" style="width: 90%;">
    <div class="card-header" style="background-color: #F4B164;">
        @{
            if (Model.Status.Label == "In progress")
            {
                <img width="20" height="20" src="/img/inprogress.png" />
            }
            if (Model.Status.Label == "Validated")
            {
                <img width="20" height="20" src="/img/valide.png" />
            }
            if (Model.Status.Label == "Archived")
            {
                <img width="20" height="20" src="/img/close.png" />
            }
        }
        <div id="displayInfoForm">
            <h5 class="card-title">Titre du formulaire : @Model.Title</h5>
            <br />
            <h6 class="card-subtitle mb-2 text-muted">
                <p class="card-text">Description du formulaire : @Model.Description</p>
        </div>
        <div id="editInfoForm" hidden>
            <partial name="_editForm" model="Model" />
        </div>
        <p class="card-text">Rédigé par : @Model.UserPerson.FirstName @Model.UserPerson.LastName</p>
        @if (Model.StatusId == 1)
        {
            <p class="card-text">Status : En Cours</p>
        }
        @if (Model.StatusId == 2)
        {
            <p class="card-text">Status : Validé</p>
        }
        @if (Model.StatusId == 3)
        {
            <p class="card-text">Status : Cloturé</p>
        }
        </h6>

    </div>
    <div class="card-body">
        @{
            if (Model.Questions != null)
            {
                @foreach (var question in Model.Questions)
                {
                    <div class="card mb-5">
                        <div class="card-body">
                            <input type="hidden" asp-for="@question.Id" id="inputQuestionId" />
                            <p class="card-text">@question.Label</p>
                            <p class="card-text">description : @question.Description</p>
                            @{
                                if (question.Choices != null)
                                {
                                    <p class="card-text">
                                        Réponse :   @foreach (var c in question.Choices)
                                        {
                                        <p class="card-text">@c.Label</p>
                                        }
                                    </p>
                                }
                            }
                        </div>
                    </div>
                }
            };
        }
    </div>
    <div class="card-footer">
        <a asp-action="Reply" asp-controller="Answer" asp-route-ID="@Model.Id">Répondre</a>
    </div>
</div>
