@model Form

<div class="card mb-3" style="width: 90%;">
    <div class="card-header" style="background-color: #F4B164;">
        @{
            if (Model.Status.Label == "In progress")
            {
                <img width="20" height="20" src="/img/inprogress.png" />
            }
            if (Model.Status.Label == "Validated")
            {
                <img width="20" height="20" src="/img/valide.png" />
            }
            if (Model.Status.Label == "Archived")
            {
                <img width="20" height="20" src="/img/close.png" />
            }
        }
        <div id="displayInfoForm">
            <h5 class="card-title">Titre du formulaire : @Model.Title</h5>
            <br />
            <h6 class="card-subtitle mb-2 text-muted">
                <p class="card-text">Description du formulaire : @Model.Description</p>
        </div>
        <div id="editInfoForm" hidden>
            <partial name="_editForm" model="Model" />
        </div>
        <p class="card-text">Rédigé par : @Model.UserPerson.FirstName @Model.UserPerson.LastName</p>
        @if (Model.StatusId == 1)
        {
            <p class="card-text">Status : En Cours</p>
        }
        @if (Model.StatusId == 2)
        {
            <p class="card-text">Status : Validé</p>
        }
        @if (Model.StatusId == 3)
        {
            <p class="card-text">Status : Cloturé</p>
        }
        </h6>

    </div>
    <div class="card-body">
        @{
            if (Model.Questions != null)
            {
                // <partial name="_showQuestions" model="Model.Questions" />

                @foreach (var question in Model.Questions)
                {
                        <div class="card mb-5">
                            <div class="card-body">
                                <input type="hidden" asp-for="@question.Id" id="inputQuestionId" />
                                @* <p class="card-text strong">formulaire : @Model.Form.Title</p> *@
                                <p class="card-text">@question.Label</p>
                                <p class="card-text">description : @question.Description</p>
                                <a asp-controller="Question" asp-action="UpdateQuestion" asp-route-id="@question.Id" class="btn btn-info">Modifier</a>
                                <button onclick="return confirm('es-tu sûr ?') && deleteQuestion(@question.Id, @question.FormId);" class="btn btn-danger">Supprimer</button>
                                @{
                                    if (question.Choices != null)
                                    {
                                    <p class="card-text">
                                        Réponse :   @foreach (var c in question.Choices)
                                        {
                                        <p class="card-text">@c.Label</p>
                                        }
                                    </p>
                                    }
                                }
                            </div>
                        </div>        
                }
            };
        }
    </div>
    <div class="card-footer">
        @{
            if (Model.Status.Label == "In progress")
            {
                <button id="addQuestionButton" class="btn btn-warning"> Ajouter une question</button>
                <button id="editFormButton" class="btn btn-warning">Editer le formulaire</button>
                //<a type="button" class="btn btn-warning" id="editFormButton" asp-action="Edit" asp-route-Id="@Model.Id">Editer le formulaire</a>
            }
        }
        <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-Id="@Model.Id">Supprimer le formulaire</a>
        @{
            if (Model.Status.Label == "In progress")
            {
                <a type="submit" asp-action="Validate" asp-controller="Form" asp-route-Id="@Model.Id" method="post" class="btn btn-primary">Validate</a>
            }
            if (Model.Status.Label == "Validated")
            {
                <a type="submit" asp-action="Close" asp-controller="Form" asp-route-Id=" @Model.Id" method="post" class="btn btn-primary">Close</a>
            }
        }
    </div>
</div>

<script>
    var editFButton = document.querySelector('#editFormButton');
    editFButton.addEventListener('click', hideShowEditForm);

    var updateFButton = document.querySelector('#updateInfoFormButton');
    updateFButton.addEventListener('click', hideShowEditForm);

    // var editQButton = document.querySelector('#editQuestionButton');
    // editQButton.addEventListener('click', hideShowEditQuestion)

    // var updateQButton = document.querySelector('#updateQuestionButton');
    // updateQButton.addEventListener('click', hideShowEditQuestion);

    // var cancelQbutton = document.querySelector('#cancelEditQuestionButton');
    // cancelQbutton.addEventListener('click', hideShowEditQuestion);

    function hideShowEditForm() {

        var divEditForm = document.querySelector('#editInfoForm');
        divEditForm.hidden = !divEditForm.hidden;

        var divDisplayInfo = document.querySelector('#displayInfoForm');
        divDisplayInfo.hidden = !divDisplayInfo.hidden;
    }

    // function hideShowEditQuestion() {

    //     var divEditQuestion = document.querySelector('#updateQuestion');
    //     divEditQuestion.hidden = !divEditQuestion.hidden;

    //     var divDisplayQuestion = document.querySelector('#divContentQuestion');
    //     divDisplayQuestion.hidden = !divDisplayQuestion.hidden;
    // }

</script>