@model Question

    <div class="card mb-5">
        <div class="card-body">
            <input type="text" asp-for="@Model.Id" id="inputQuestionId" />
        <p class="card-text strong">formulaire : @Model.Form.Title</p>
        <p class="card-text">@Model.Label</p>
        <p class="card-text">description : @Model.Description</p>
        <button onclick="return confirm('es-tu sûr ?') && deleteQuestion(@Model.Id, @Model.FormId);" class="btn btn-danger">Supprimer Via Ajax</button>
        <a asp-controller="Question" asp-action="UpdateQuestion" asp-route-id="@Model.Id" class="btn btn-info">Modifier</a>
            @* <button id="callCreateChoice" data-question-id="@q.Id" class="btn btn-info">Ajouter Choix</button> *@
        </div>
    @{
        if (Model.Choices != null)
        {
            @foreach (var c in Model.Choices)
            {
                <div class="card-body">
                    <p class="card-text">@c.Label</p>
                </div>
            }
        }
    }

    </div>


